<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (locals.user) { %>
        <h1>
            <%= user.name %>, gracias por visitarnos
        </h1>
        <% } %>
</body>

<style>
    body{
        background-color:<%= locals.user ? user.color : null %>;
    }
</style>

</html>